body {
  font-family: gotham, arial, helvetica, sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  background-color: #F6F8FF;
  max-width: 100vw;
  overflow-x: hidden;
}

table {
  width: 100%;
  text-align:center;
  table-layout:fixed;
  align-items: center;
  
}
#get_data{
  width: 150px;
  height: 80px;
}

#apilista{
  margin-left: 5%;
  width: 100px;
  height: 100px;
}

th {
  border: 2px solid black;
  text-align: center;
  vertical-align: middle;
  background-color: #47A8A4;
}

td{
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
}
#company_container {
  margin-top: 7%;
  display: flex;
  justify-content: center;
  width: 100%;
}

#caixainfer {
  padding-left: 15%;
  width: 91%;
  height: max-content;
  justify-content: center;
  table-layout:auto;
  display:none;
}

#table_container{
  display:table;
  width: 100%;
  text-align:center;
  table-layout:fixed;
  align-items: center;
  background-color: #B9D5D3;
}
